{{>layouts/header}}
<h2>새 일기 작성</h2>
<form action="/diary/add" method="post" class="mb-3">
    <input name="title" placeholder="제목" class="form-control mb-2"/>
    <textarea name="content" placeholder="내용" class="form-control mb-2"></textarea>
    <select name="emoji" class="form-select mb-2">
        <option value="😃">😃</option>
        <option value="😢">😢</option>
        <option value="😠">😠</option>
        <option value="😨">😨</option>
    </select>
    <input type="hidden" name="wrDate" value=""/>
    <button type="submit" class="btn btn-primary">추가</button>
</form>
<a href="/diary" class="btn btn-secondary">목록으로</a>
{{>layouts/footer}}
