{{>layouts/header}}
{{#diary}}
    <h1>{{title}}</h1>
    <p>{{content}}</p>
    <p>오늘의 기분: {{emoji}}</p>
    <a href="/diary/{{id}}/edit" class="btn btn-warning">편집</a>
    <form action="/diary/delete" method="post" class="d-inline ms-2">
        <input type="hidden" name="id" value="{{id}}"/>
        <button class="btn btn-danger" onclick="return confirm('정말 삭제?')">삭제</button>
    </form>
{{/diary}}
<a href="/diary" class="btn btn-secondary mt-3">목록으로</a>
{{>layouts/footer}}
