{{>layouts/header}}
{{#diary}}
    <h1 class="mb-3"><strong>{{title}}</strong></h1>
    <br>
    <div class="bg-white p-4 rounded shadow-sm">
        <div class="mb-4">
            <h4>{{content}}</h4>
        </div>
    </div>
    <br>
    <h3>오늘의 기분 :{{emoji}}</h3>
    <form action="/diary/delete" method="post" class="mt-3">
        <input type="hidden" name="id" value="{{id}}">
        <a href="/diary/{{id}}/edit" class="btn btn-warning">편집</a>
    </form>
    <a href="/diary" class="btn btn-secondary mb-3 float-end">목록으로</a>

{{/diary}}
{{>layouts/footer}}
