<!-- templates/layouts/footer.mustache -->
<br>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <small class="text-muted">
            &copy; 2025 FeelLog. All rights reserved.&nbsp;
        </small>
    </div>
</footer>

<!-- 부트스트랩 JS, 폰트어썸 등 필요 스크립트 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ltrjvnR4/JfbXr+5hu4QlW6Q2Jgl7h7m8YGmT0x0A7E0z6k8tKula1Z9kH12JzZM"
        crossorigin="anonymous"></script>
</body>
</html>
